@model IEnumerable<BookStore.Models.Sach>

@{
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
    ViewBag.Title = "Admin";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Toàn bộ sách</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-condensed table-bordered">
                <tr>
                    <th class="text-center">Mã sách</th>
                    <th class="text-center">Tên sách</th>
                    <th class="text-center">Giá bán</th>
                    <th class="text-center">Mô tả</th>
                    <th class="text-center">Ngày cập nhật</th>
                    <th class="text-center">Ảnh bìa</th>
                    <th class="text-center">Số lượng</th>
                    <th class="text-center">Mã chủ đề</th>
                    <th class="text-center">Mã nhà xuất bản</th>
                    <th class="text-center">Sách mới</th>
                    <th class="text-center">Thực thi</th>
                </tr>
                @foreach(var item in Model)
                {
                    <tr>
                        <td class="text-center">@item.MaSach</td>
                        <td>@Html.ActionLink(item.TenSach, "Edit", new { item.MaSach})</td>
                        <td class="text-center">@item.GiaBan VNĐ</td>
                        <td class="text-left">@item.MoTa</td>
                        <td class="text-center">@item.NgayCapNhat</td>
                        <td class="text-center">@item.AnhBia</td>
                        <td class="text-center">@item.SoLuongTon</td>
                        <td class="text-center">@item.MaChuDe</td>
                        <td class="text-center">@item.MaNXB</td>
                        <td class="text-center">@item.Moi</td>
                        <td class="text-center">
                            @using(Html.BeginForm("Delete", "Admin"))
                            {
                                @Html.Hidden("MS", item.MaSach)
                                <input type="submit" class="btn btn-warning" value="Xóa"/>
                            }
                        </td>
                    </tr>
                }
            </table>
            <div>
                @Html.ActionLink("Thêm sách", "Create", null, new { @class = "btn btn-primary" })
            </div>
        </div>  
    </div>
</body>
</html>